*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/* navbar styling */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: white;
}
.logo-image{
    height: 4vh;
}
.logo-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon_text{
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 0.8rem;
}
.icon_img{
    width: 20px;
}
.icon_bag{
    position: relative;
}
.cart_count{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -3px;
    font-size: x-small;
    background-color: rgb(219, 107, 107);
    color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    transition: all 0.6s ease;
}

.links{
    display: flex;
    align-items: center;
    gap: 28px;
}
.links_list{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: all 0.5s ease-in;
    border-spacing: 2px;

}
.link_men:hover,.link_women:hover{
    border-bottom: 2px solid rgb(216, 42, 187);
    border-radius: 5px;
}
.link_kids:hover{
    border-bottom: 2px solid rgb(255, 118, 5);
    border-radius: 5px;
}
.link_home:hover{
    border-bottom: 2px solid rgb(255, 238, 5);
    border-radius: 5px;
}
.link_beauty:hover{
    border-bottom: 2px solid rgb(5, 205, 255);
    border-radius: 5px;
}
.link_studio:hover{
    border-bottom: 2px solid rgb(255, 5, 5);
    border-radius: 5px;
}
.search{
    background: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 25px;
    width: 20vw;
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    /* border: none; */
    border-radius: 2cqmin;
    background-color: rgba(127, 251, 255, 0.103);
}


/* Footer styles */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 36px 0;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.footer_link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list_heading{
    font-size: 1.3rem;
}
.list{
    margin: 1px 0;
    color: rgba(0,0,0,0.45);
}   

/* main section */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.before_placed{
    position: absolute;
    display: flex;
    align-items: center;
    top: -100px;
    right: 30px;
    background-color: rgb(107, 118, 219);
    color: white;
    width: 10vw;
    height: 4vh;
    padding: 0 7px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    z-index: -10;
    transition: all 0.6s ease;
}

.order_placed{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 10px;
    right: 30px;
    background-color: rgb(107, 118, 219);
    color: white;
    width: 10vw;
    height: 4vh;
    padding: 0 7px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.6s ease;
}

.content_center{ 
    display: flex;
    /* justify-content: space; */
    gap: 20px;
    width: 50vw;
}
.product_container{
    width: 65%;
}
.product{
    background-color: rgba(222, 234, 245, 0.616);
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}
.product_info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.product_img{
    height: 16vh;
    width: 6vw;
}
.product_img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_detail>*{
    margin: 6px 0;
}
.product_desc{
    font-weight: 300;
    font-size: 0.88rem;
}
.cancel_product > img{
    height: 25px;
    cursor: pointer;
}
.price{
    font-size: small;
}
.rate{
    font-weight: 700;
}
.rate_cut, .offer{
    font-size: smaller;
}
.rate_cut{
    text-decoration: line-through;
    font-weight: lighter;
    text-decoration-color: grey;
    margin: 0 5px;
}
.offer{
    color: rgb(241, 95, 28);
}

.return{
    font-size: small;
    font-weight: 300;
}
.return_date{
    font-weight: 500;
}

/* order section */
.order_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    margin: 16px 0;
    background-color: rgb(239, 239, 239);
    /* border: 1px solid rgb(216, 42, 187); */
    padding: 10px 5px;
    height: fit-content;
    border-radius: 8px;
}
.price_detail{
    font-weight: 600;
    font-size: 0.78rem;
    letter-spacing: 0.8px;
    color: rgba(61, 61, 61, 0.87);
    text-transform: uppercase;
}
.amount > *{
    margin: 2px 0;
}
.disscount_order{
    color: rgb(50, 177, 209);
}
.orders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.78rem;
}
.total{
    font-size: 0.88rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);

} 
.order_btn{
    width: 100%;
    margin: 16px 0 0 0 ;
    padding: 8px;
    background-color: rgb(216, 42, 187);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.89rem;
    border: none;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.4s ease;
} 
.order_btn:active{
    transform: scale(0.98);
}