*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/* navbar styling */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.logo-image{
    height: 4vh;
}
.logo-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icon_text{
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 0.8rem;
}
.icon_img{
    width: 20px;
}

.links{
    display: flex;
    align-items: center;
    gap: 28px;
}
.links_list{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: all 0.5s ease-in;
    border-spacing: 2px;

}
.link_men:hover,.link_women:hover{
    border-bottom: 2px solid rgb(216, 42, 187);
    border-radius: 5px;
}
.link_kids:hover{
    border-bottom: 2px solid rgb(255, 118, 5);
    border-radius: 5px;
}
.link_home:hover{
    border-bottom: 2px solid rgb(255, 238, 5);
    border-radius: 5px;
}
.link_beauty:hover{
    border-bottom: 2px solid rgb(5, 205, 255);
    border-radius: 5px;
}
.link_studio:hover{
    border-bottom: 2px solid rgb(255, 5, 5);
    border-radius: 5px;
}
.search{
    background: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 25px;
    width: 20vw;
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    /* border: none; */
    border-radius: 2cqmin;
    background-color: rgba(127, 251, 255, 0.103);
}


/* Footer styles */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 36px 0;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.footer_link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list_heading{
    font-size: 1.3rem;
}
.list{
    margin: 1px 0;
    color: rgba(0,0,0,0.45);
}   


/* main section and Product Section */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.products{
    /* background-color: aqua; */
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.product_container{
    background-color: rgba(182, 202, 221, 0.685);
    width: 11vw;
    border-radius: 8px;
    /* box-shadow: -5px -5px, 10px,; */
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.233);
    margin: 16px 0;
}
.product_img{
    height: 25vh;
    width: 100%;
    position: relative;
    /* filter: drop-shadow(-1px -1px 10px pink);} */
}
.product_img > img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_rating_container{
    position: absolute;
    bottom: 10px;
    left: 16px;
    background-color: rgba(182, 202, 221, 0.897);
    padding: 5px;
    font-size: small;
}
.product_rating_container>img{
    height: 10px;
}
.product_details{
   padding: 14px 6px;
}
.product_details>*{
    margin: 4px;
}
.product_desc{
    font-size: 0.88rem;
}
.product_price{
    font-size: small;
}
.product_rate{
    font-weight: 700;
}
.product_rate_cut, .product_offer{
    font-size: smaller;
}
.product_rate_cut{
    text-decoration: line-through;
    font-weight: lighter;
    text-decoration-color: grey;
}
.product_offer{
    color: rgb(241, 95, 28);
}

.cart_btn{
    width: 90%;
    padding: 6px;
    border: 0;
    background-color: rgb(241, 95, 28);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}